###############################################################################
# Raw sequencing data
###############################################################################
data/raw/*.fastq
data/raw/*.fastq.gz

###############################################################################
# Reference genome
###############################################################################
data/reference/*.fna
data/reference/*.fa
data/reference/*.fasta
data/reference/*.dict
data/reference/*.fai

###############################################################################
# BWA index files
###############################################################################
data/reference/*.amb
data/reference/*.ann
data/reference/*.bwt
data/reference/*.pac
data/reference/*.sa

###############################################################################
# Known-sites files
###############################################################################
data/known_sites/*.vcf
data/known_sites/*.vcf.gz
data/known_sites/*.idx
data/known_sites/*.tbi

###############################################################################
# Alignment
###############################################################################
results/alignment/*.sam
results/alignment/*.bam
results/alignment/*.bai

###############################################################################
# Trimmed FASTQ
###############################################################################
results/trimmed/*.fastq.gz

###############################################################################
# Large annotation
###############################################################################
results/annotation/*.vcf
results/annotation/*.vcf.gz
###############################################################################
# Keep small variant-call outputs
###############################################################################
!results/variants/NIST7035_raw_variants.vcf.gz
!results/variants/NIST7035_raw_variants.vcf.gz.tbi
!results/variants/NIST7035_filtered_variants.vcf.gz
!results/variants/NIST7035_filtered_variants.vcf.gz.tbi
###############################################################################
# Temporary
###############################################################################
*.log
*.tmp
__pycache__/
.vscode/
###############################################################################
# Reference genome archives
###############################################################################
data/reference/*.tar.gz

###############################################################################
# R history and workspace files
###############################################################################
.Rhistory
.RData
.Ruserdata
